@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --space-4x: 16px;
  --space-6x: 0%;
  --space-8x: 32px;
}
.product-block-order{
  display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 var(--space-4x); /* Убрано отдельное указание margin-left и margin-right */
  gap: 14px;
}

.product-order {
    font-weight: 900;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -.01em;
    margin-top: 10px;
    margin-left: var(--space-4x);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product-card {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: auto; /* Высота теперь автоматически регулируется контентом */
  background-color: #fff;
  border-radius: 25px;
}

.product-image {
  max-width: 80%;
  max-height: 150px; /* Задаем максимальную высоту изображения в пикселях или другой подходящей величине */
  transform: scale(1);
  margin-left: -10px;
  object-fit: cover; /* Используем "cover" для изменения размера изображения с сохранением пропорций и обрезания лишней части */
}

.product-image-container img{
  transform: scale(1.1);
}

.product-details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.product-created{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  text-align: right;
  font-size: 12px;
  letter-spacing: -0.03em;
  line-height: 140%;
}
.product-name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.product-name-date{
  display: flex;
}

.product-price {
  
  
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  text-align: left;
  flex: 1 1;
}

.product-size {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: left;
}

.product-size b {
  font-size: 14px;
  margin: 4px;
  color: var(--tg-theme-button-color);
}

.product-quantity{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-left: 4px;
  text-align: left;
}
.buy-button {
  background: #393939;
  border-radius: 17px;
  width: 100%; /* Использование ширины 100% для кнопки */
  line-height: 200%;
  color: #fff;
  border: none;
  font-size: 14px;
  margin-top: 10px;
}
