 
:root {
    --space-4x: 16px;
    --space-6x: 0%;
    --space-8x: 32px;
    --button-text-color: var(--tg-theme-button-text-color, #fff);
    --color: var(--tg-theme-button-color, #393939);
    --button-color: var(--tg-theme-button-color, #007cff);
    --accent: #007cff;
    --tg-bg: var(--tg-theme-bg-color, #f2f4f6);
    --tg-second: var(--tg-theme-secondary-bg-color, #ededed);
    --tg-text: var(--tg-theme-text-color, #000);
    --tg-button-text: var(--tg-theme-button-text-color, #fff);
    --tg-hint: var(--tg-theme-hint-color, #393939);
    --font-size: 20px;
    --font-family: "SF Pro Display",-apple-system,BlinkMacSystemFont,Roboto,sans-serif;
    --borderWidth: 3px;
  }

body {
    user-select: none;
    color: var(--tg-text);
    font-family: var(--font-family);
    background: var(--tg-second);
}
.action-buttons{
    margin: var(--space-4x);
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.action-card{
    flex: 1 1;
    flex-direction: row;
    gap: 8px;
    position: relative;
    z-index: 0;
    overflow: visible;
    border-radius: 999999px;
}
.action-card-IQWEA2{
    background: var(--tg-bg);
    border-radius: 9999px;
    gap: 8px;
    position: relative;
    z-index: 0;
}
.action-card-QWE13S{
    background: #0000;
    border-radius: 9999px;
}
.action-card-QWE13B{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    
    filter: blur(21px);
    background-color: #0000;
    overflow: hidden;
    border-radius: 99999px;
    z-index: -2;
}
.action-card-QWE13B::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(25deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad);
    border-radius: 20px;
    z-index: -1;
    animation: animatedgradient 5s linear infinite;
    background-size: 300% 300%;
  }
  
  @keyframes animatedgradient {
    0% {
        transform: rotate(0deg);
    }
    100% {

        transform: rotate(360deg);
    }
  }

.action-card-bg{
    background: var(--tg-bg);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    outline: unset;
    transition: transform .15s linear;
}

.action-inner{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
}

.action-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

.action-title{
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.01em;
    background: radial-gradient(266.38% 477.63% at -77.59% 78.26%,#f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
}

.action-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.action-poinst-icon{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 100%;
    background: radial-gradient(266.38% 477.63% at -77.59% 78.26%, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad);
    backdrop-filter: blur(10px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;

}

.action-poinst-icon span{
    background: radial-gradient(266.38% 477.63% at -77.59% 78.26%, #f79533, #f37055, #ef4e7b, #a166ab,#5073b8, #1098ad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.action-poinst-title{
    background: radial-gradient(266.38% 477.63% at -77.59% 78.26%, #f79533, #f37055, #ef4e7b, #a166ab);
    border-radius: 9999999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-weight: 500;
    width: calc(var(--font-size, 20px) + var(--font-size, 20px)/5);
}
