:root {
  --space-4x: 16px;
  --space-6x: 0%;
  --space-8x: 32px;
  --button-text-color: var(--tg-theme-button-text-color, #fff, #000);
  --color: var(--tg-theme-button-color, #393939);
  --button-color: var(--tg-theme-button-color, #007cff);
  --background-secondary: var(--tg-theme-secondary-bg-color, #f3f2f8);
  --accent: #007cff;
  --tg-bg: var(--tg-theme-bg-color, #f2f4f6);
  --tg-second-bg:  var(--tg-theme-secondary-bg-color, #ffffff);
}


.catalog-head {
    color: var(--button-text-color);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    margin-top: 8px;
    margin-left: var(--space-4x);
    margin-right: var(--space-4x);
  }
  
  .catalog {
    font-weight: 900;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.01em;
  }
  
  .catalog-icons {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .button-search-ico {
    background: #0000;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding: 0;
    text-decoration: none;
    color: var(--button-text-color);
  }
  
  .button-search-ico svg {
    width: 25px;
    height: 25px;
  }
  
  .button-search-ico:focus {
    outline: none;
  }
  
  .button-search-ico:active {
    letter-spacing: normal;
    transform: translateY(4px);
    box-shadow: none;
    transform: scale(0.84);
    transition: 0.1s;
  }
