main {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin-top: 4px;
    background: #e4e4e4;
  }
  
  .item p {
    margin-bottom: 4px;
  }
  
  main .item {
    width: 45%;
    min-width: none;
    background-color: #fff;
    border-radius: 20px;
    margin: 6px;
    padding-bottom: 4px;
    position: relative;
  }
  
  main .item img {
    width: 90%;
    border-radius: 17px;
    user-select: none;
  }
  
  main .item p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    height: 20px;
  }
  
  main .item h4 {
    font-size: 14px;
    text-align: left;
    padding-left: 5%;
    font-weight: 700;
    margin: 0px;
  }
  .buy-item {
    text-align: center;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
  }
  .add-item{
    flex-shrink: 0;
    font-weight: 500;
    border-radius: 18px;
    width: 92%;
    border: none;
    margin-bottom: 2px;
    background: #393939;
    
  }
