
:root {
  --space-4x: 16px;
  --space-6x: 0%;
  --space-8x: 32px;
  --button-text-color: var(--tg-theme-button-text-color, #fff);
  --color: var(--tg-theme-button-color, #393939);
  --button-color: var(--tg-theme-button-color, #007cff);
  --accent: #007cff;
  --tg-bg: var(--tg-theme-bg-color, #f2f4f6);
  --tg-second: var(--tg-theme-secondary-bg-color, #ededed);
  --tg-text: var(--tg-theme-text-color, #000);
}



main {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin-top: 4px;
    background: var(--tg-bg);
  }
  
  .item p {
    margin-bottom: 4px;
  }
  
  main .item {
    width: 45%;
    min-width: none;
    background-color: var(--tg-second);
    border-radius: 20px;
    margin: 6px;
    padding-bottom: 4px;
    position: relative;
  }
  
  main .item img {
    width: 90%;
    border-radius: 17px;
    user-select: none;
  }
  
  main .item-img{
    position: relative;
    z-index: 2;
    margin-bottom: -24px;
    width: 100%;
    border-radius: 17px;
    background: #fff;
  }
  main .item p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    height: 20px;
    color: var(--tg-text);
  }
  
  main .item-info{
    z-index: 1; 
    position: relative;
    background: #e4e5;
    border-radius: 17px;
  }

  main .item h4 {
    font-size: 14px;
    text-align: left;
    padding-left: 5%;
    font-weight: 700;
    margin-top: 32px;
    color: var(--tg-text);
  }
  .buy-item {
    text-align: center;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
  }
  .add-item{
    flex-shrink: 0;
    font-weight: 500;
    border-radius: 18px;
    width: 92%;
    border: none;
    margin-bottom: 2px;
    background: #393939;
    
  }
