@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --space-4x: 16px;
  --space-6x: 0%;
  --space-8x: 32px;
  --button-text-color: var(--tg-theme-button-text-color, #fff);
  --color: var(--tg-theme-button-color, #393939);
  --button-color: var(--tg-theme-button-color, #007cff);
  --accent: #007cff;
  --tg-bg: var(--tg-theme-bg-color, #f2f4f6);
  --tg-second: var(--tg-theme-secondary-bg-color, #ededed);
  --tg-text: var(--tg-theme-text-color, #000);
  --tg-button-text: var(--tg-theme-button-text-color, #fff);
}

.size_box {
  user-select: none;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 4px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 var(--space-4x-negative);
  padding: 0 var(--space-4x);
  position: relative;
  z-index: 5;
  scroll-snap-type: x mandatory;
  scroll-padding-left: var(--space-4x);
}

.size_box::-webkit-scrollbar {
  display: none;
}

.size_button {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 62px;
  height: 72px;
  outline: none;
  text-align: unset;
  background: #0000;
  border: none;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 0.15s linear;
  line-height: 62px;
}


.size_outline {
  position: absolute;
  inset: 0;
}

.size-item {
  position: absolute;
  width: 62px;
  height: 62px;
}

.Story-size-content {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 60px;
  color: #000000;
  padding: 8px;
}

.Story-size-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  position: relative;
  text-align: center;
}

.size_button:focus {
  outline: none;
}

.size_button:active {
  letter-spacing: normal;
  transform: translateY(4px);
  box-shadow: none;
  transform: scale(0.94);
  transition: transform 0.08s linear;
}

.size p {
    font-size: 18px;
    margin-left: var(--space-4x);
    font-weight: 600;
    line-height: 130%;
  }
  
  .size {
    display: flex;
    justify-content: space-between;
    margin-right: var(--space-4x);
    color: var(--tg-text);
  }
  
  .size a {
    font-size: 16px;
    margin-left: auto;
    text-decoration: none;
    color: var(--accent);
    cursor: pointer;
  }

  
  .box-sized {
    display: flex;
    justify-content: space-between;
  }
  
  .mysized {
   height: 40px;
  line-height: 40px;
  color: #fff;
  background: #393939;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  }
  
  .sized {
    
    color: #000;
    border: solid 1px #d6d6d6;
    background: #e9e9e9;
  }

  .size-nubmer{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -.01em;
  }

  .size-price{
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -.01em;
    color: var(--text-secondary);
  }
