@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --space-4x: 16px;
  --space-6x: 0%;
  --space-8x: 32px;
  --button-text-color: var(--tg-theme-button-text-color, #fff);
  --color: var(--tg-theme-button-color, #393939);
  --button-color: var(--tg-theme-button-color, #007cff);
  --accent: #007cff;
  --tg-bg: var(--tg-theme-bg-color, #f2f4f6);
  --tg-second: var(--tg-theme-secondary-bg-color, #ededed);
  --tg-text: var(--tg-theme-text-color, #000);
  --tg-button-text: var(--tg-theme-button-text-color, #fff);
}

* {
  user-select: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
}

body {
  user-select: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--tg-text);
  background: var(--tg-second);
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
}

.version {
  text-align: center;
  line-height: 20px;
  margin-top: 20px;
  color: #000;
}
